* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.main_heading {
    /* position: absolute; */
    height: 100vh;
    width: 100%;
    display: flex;
}

.frontPage {
    /* margin-left: 1rem; */
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    /* #009ca7  #61b4e5*/
    background-image: linear-gradient(to right, transparent, #02a7b3);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 500px) {
    .frontPage {
        height: 15rem;
        width: 15rem;
    }

    figure img {
        height: 90%;
        width: 90%;
    }

    .heading {
        background-position-y: 1.5rem;
        background-position-x: 0rem;
    }


    .heading h1 {
        font-size: 1.4rem;
    }

    .btn.btn-outline-info {
        margin-right: 2.5rem;
        /* font-size: .75rem; */
    }
}

@media (min-width: 576px) {
    .frontPage {
        height: 15rem;
        width: 15rem;
    }

    figure img {
        height: 90%;
        width: 90%;
    }

    .heading {
        background-position-y: 1rem;
        background-position-x: 0rem;
    }

    .heading h1 {
        font-size: 1.8rem;
    }

    .btn.btn-outline-info {
        margin-right: 4rem;
    }
}

@media (min-width: 640px) {
    .frontPage {
        height: 20rem;
        width: 20rem;
    }

    figure img {
        height: 90%;
        width: 90%;
    }

    .heading {
        background-position-y: 3rem;
        background-position-x: 0rem;
    }

    .heading h1 {
        font-size: 2.2rem;
    }

    .btn.btn-outline-info {
        margin-right: 4rem;
    }
}

@media (min-width: 768px) {
    .frontPage {
        height: 25rem;
        width: 25rem;
    }

    figure img {
        height: 90%;
        width: 90%;
    }

    .heading {
        background-position-y: 5rem;
        background-position-x: 0rem;
    }

    .heading h1 {
        font-size: 2.6rem;
    }

    .btn.btn-outline-info {
        margin-right: 5rem;
    }
}

@media (min-width: 992px) {
    .frontPage {
        height: 30rem;
        width: 30rem;
    }

    .heading {
        background-position-y: 8rem;
        background-position-x: 0rem;
    }

    figure img {
        height: 90%;
        width: 90%;
    }

    .heading h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .frontPage {
        height: 35rem;
        width: 35rem;
    }

    figure img {
        height: 90%;
        width: 90%;
    }

    .heading {
        background-position-y: 8rem;
        background-position-x: 0rem;
    }

    .heading h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1400px) {
    .frontPage {
        height: 40rem;
        width: 40rem;
    }

    figure img {
        height: 90%;
        width: 90%;
    }

    .heading {
        background-position-y: 10rem;
        background-position-x: 0rem;
    }

    .heading h1 {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .frontPage {
        height: 11rem;
        width: 14rem;
    }

    figure img {
        height: 100%;
        width: 100%;
    }

    .heading {
        background-position-y: -1rem;
        background-position-x: 0rem;
    }

    .row {
        place-content: center;
        flex-direction: column;
        align-items: center;
    }

    .heading h1 {
        font-size: 1.2rem;
    }

    .heading h5 {
        font-size: 0.8rem;
    }

    .btn.btn-outline-info {
        display: none;
    }
}

@media (max-width: 360px) {
    .frontPage {
        height: 9rem;
        width: 14rem;
    }

    figure img {
        height: 100%;
        width: 100%;
    }

    .heading {
        background-position-y: -1rem;
        background-position-x: 0rem;
    }

    .row {
        place-content: center;
        flex-direction: column;
        align-items: center;
    }

    .heading h1 {
        font-size: 1.2rem;
    }

    .heading h5 {
        font-size: 0.8rem;
    }
}


@media (max-width: 320px) {
    .frontPage {
        height: 9rem;
        width: 16rem;
    }

    figure img {
        height: 100%;
        width: 100%;
    }

    .heading {
        background-position-y: -1rem;
        background-position-x: 0rem;
    }

    .row {
        place-content: center;
        flex-direction: column;
        align-items: center;
    }

    .heading h1 {
        font-size: 1.2rem;
    }

    .heading h5 {
        font-size: 0.8rem;
    }
}






.heading {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    /* #009ca7  #61b4e5*/
    background-image: url('/images/bg11.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* transform: rotate(30deg); */
}

.heading h1 {
    color: #03858f;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.heading h5 {
    color: #3786b4;
}

.btn.btn-outline-info {
    border: .1rem solid #03858f;
    color: #03858f;
}

.btn.btn-outline-info:hover {
    background-color: #3786b4;
    border-color: #3786b4;
    color: #000;
}

/* .bg{
    height: 50vh;
    width: 50%;
    transform: rotateX(30deg);
    z-index: 1000;
    background-image: url('/images/bg11.png');
    background-repeat: no-repeat;
    background-size: contain;
} */